article
	header
		h1
			| Create a tournament!

	section
		form action="/create" method="POST" id="createform"
			input type="text" maxlength=12 placeholder="NAME" name="name"
			input type="hidden" name="code" id="code"

			button class="ui-create"
				i class="fa fa-check"
				| Create
	footer

javascript:
	$(document).ready(function() {
		var $form = $("#createform");
		var $code = $("#code");
		var $create = $(".ui-create");

		$create.click(function() {
			var code = GenerateCode();

			$code.val(code);

			$form.submit();
		});

		function GenerateCode() {

			var code = "";
			for (var i = 0; i < 4; i ++) {
				var ascii = GetRandNumber(65, 90);
				code += String.fromCharCode(ascii);
			}

			return code;
		}

		function GetRandNumber(min, max) {
			return Math.floor(Math.random() * (max - min + 1) + min);
		}

	});