/h1
/	| Last Hand Standing!
/
/br
/br
/
/button
/	i class="fa fa-plus"
/	| New
/
/button
/	i class="fa fa-users"
/	| Join
/
/br
/



article
	header
		h1
			| Last Hand Standing!

	section
		div class="content"

			button
				i class="fa fa-plus"
				| New

			br
			span OR
			br

			a href="/join" class="button"
				i class="fa fa-users"
				| Join


	footer
		/button class="icon-only"
		/	i class="fa fa-hand-paper-o"
		/
		/button class="icon-only"
		/	i class="fa fa-hand-scissors-o"
		/
		/button class="icon-only"
		/	i class="fa fa-hand-rock-o"
		/
		/button class="icon-only"
		/	i class="fa fa-hand-lizard-o"
		/
		/button class="icon-only"
		/	i class="fa fa-hand-spock-o"
