@import "_vars"

article
	position: relative
	width: 100%
	max-width: $article-max-width
	height: 100vh
	margin: 0 auto
	display: flex
	flex-direction: column

	> header
		width: 100%
		height: $header-height
		line-height: $header-height
		flex-grow: 0
		background: $colour-button-primary

	> section
		width: 100%
		flex-grow: 1
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		font-size: 1.8em
		flex-direction: column

		&.top
			justify-content: flex-start

	> footer
		width: 100%
		height: $footer-height
		flex-grow: 0
		display: flex
		align-content: stretch

		.button
			height: $footer-height
			line-height: $footer-height
			font-size: 2em
			color: $colour-button-primary
			background: white
			text-decoration: none
			flex-grow: 1
			cursor: pointer
			transition: transform 0.1s

			outline: 0
			border: 0
			margin: 0
			padding: 0

			&:nth-child(2)
				margin-left: 2px

			&:active
				transform: scale(0.9)

			> i
				margin-right: $standard-margin