@import "application"

$button-background-colour: crimson
$button-border-width: 5px

button, a.button
	padding: 10px 20px
	color: white
	font-size: 20px
	background-color: $button-background-colour
	outline: none
	border: none
	border-bottom: $button-border-width solid darken($button-background-colour, 10%)
	border-radius: 6px
	cursor: pointer
	margin: 0 $standard-margin
	text-decoration: none
	display: inline-block

	> i
		margin-right: $standard-margin

	&.icon-only
		> i
			margin-right: 0

	&:active
		border-bottom: none
		transform: translateY($button-border-width)
		margin-bottom: $button-border-width

.ready-button > button
	width: 100%
	border-radius: 0
	position: fixed
	bottom: 0px